Django==1.5.4
dj-database-url==0.2.2
dj-static==0.0.5
django-bootstrap-toolkit==2.15.0
django-toolbelt==0.0.1
gunicorn==18.0
eventlet==0.9.7
gevent==0.13.4
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2
http://pyyaml.org/download/pyyaml/PyYAML-3.10.tar.gz
http://pypi.python.org/packages/source/n/nltk/nltk-2.0.1rc1.tar.gz
numpy==1.6.2
