@ColorVeryLightGreen: #D8FFD8;
@ColorVeryLightRed: #FFD8D8;

@ColorLightGreen: rgb(140, 202, 140);
@ColorLightRed: rgb(231, 155, 155);

@ColorVeryLightGrey: rgb(247, 247, 247);

body {
}

a.brand {
	color: rgb(74, 176, 233) !important;
}

.textarea-full {
	width: 100%;
	max-width: 100%;
}

.checkbox {
	margin-top: 0 !important;
}

.textarea {
	margin-bottom: 5px;
}

.sentiment-positive {
	color: green;
}

.sentiment-negative {
	color: red;
}

.section {
	margin-bottom: 20px;
	.section-header {
		.section-title {
			font-size: 20px;
			font-weight: bold;
		}
	}
	.subsection-header {
		.section-title {
			font-size: 15px;
			font-weight: bold;
		}		
	}
}

.main-container {
	margin-top: 50px;
	.main-title {
		margin-bottom: 15px;
	}
}

.result {
	margin-left: 5px;
	padding-top:3px;
}

.color-light-green {
	color: @ColorLightGreen;
}

.color-light-red {
	color: @ColorLightRed;
}

.font-bold {
	font-weight: bold;
}

.font-normal {
	font-weight: normal;
}

.font-small {
	font-size: 11px;
}

.background-verylightgreen {
	background-color: @ColorVeryLightGreen;
}

.background-verylightred {
	background-color: @ColorVeryLightRed;
}

.div-sentence {
	margin-bottom: 10px;
}

.table-centered {
	td, th {
		text-align: center !important;
	}
}

form.form-user-input {
	.progress-container {
		position:absolute;
		margin-top: 14px;
		opacity: 0.5;
		font-size: 22px;
		.spinner {
			margin-left: 20px;
			margin-top: 20px;
		}
	}
}

.div-input {
	.link-clear {
		opacity:0.6;
		&:hover {
			opacity: 0.8;
		}
	}
}

.color-light-grey {
	background: @ColorVeryLightGrey;
}

.tr-lightgrey {
	background: rgb(248, 248, 248);
}

.app-sentence {
	form.form-user-input {
		.progress-container {
			position:absolute;
			margin-top: 14px;
			opacity: 0.5;
			font-size: 22px;
			.spinner {
				margin-left: 40px;
				margin-top: 20px;
			}
		}
	}
}

.font-verylightgrey {
	color:grey;
	opacity:0.5;
}

.clickable-icon {
	opacity:0.5;
	margin-left:2px;
	&:hover {
		opacity:1;
	}
}

.table-action {
	.progress-container {
		position: absolute;
		font-size: 18px;
		margin-top: 2px;
		opacity: 0.5;
		.spinner {
			margin-top: 20px;
			margin-left:10px;
		}
	}
	.progress-container1 {
		margin-left:100px;
	}
	.progress-container2 {
		margin-left:105px;	
	}
	.progress-container3 {
		margin-left:135px;
	}

	.progress-container4 {
		margin-left:165px;
	}

	.progress-container5 {
		margin-left:150px;
	}

	.progress-container6 {
		margin-left:135px;
	}

}

.my-small-text-button {
	font-weight: normal !important;
	font-size: 12px !important;
	opacity: 0.7;
	cursor:pointer;
	color:#08c;
	&:hover {
		text-decoration:underline;
		color:#00527A;
		opacity:0.8;
	}
}

.div-neighbors {
	display:none;
}

.div-total-neighbor-count {
	cursor:pointer;
	text-decoration: underline;
	opacity:0.8;
	&:hover {
		opacity:1.0;
	}
}

.a-neighbor-count {
	cursor:pointer;
	text-decoration: underline;
	opacity:0.6;
	&:hover {
		opacity:0.8;
	}
}