a.brand {
  color: #4ab0e9 !important;
}
.textarea-full {
  width: 100%;
  max-width: 100%;
}
.checkbox {
  margin-top: 0 !important;
}
.textarea {
  margin-bottom: 5px;
}
.sentiment-positive {
  color: green;
}
.sentiment-negative {
  color: red;
}
.section {
  margin-bottom: 20px;
}
.section .section-header .section-title {
  font-size: 20px;
  font-weight: bold;
}
.section .subsection-header .section-title {
  font-size: 15px;
  font-weight: bold;
}
.main-container {
  margin-top: 50px;
}
.main-container .main-title {
  margin-bottom: 15px;
}
.result {
  margin-left: 5px;
  padding-top: 3px;
}
.color-light-green {
  color: #8cca8c;
}
.color-light-red {
  color: #e79b9b;
}
.font-bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal;
}
.font-small {
  font-size: 11px;
}
.background-verylightgreen {
  background-color: #d8ffd8;
}
.background-verylightred {
  background-color: #ffd8d8;
}
.div-sentence {
  margin-bottom: 10px;
}
.table-centered td,
.table-centered th {
  text-align: center !important;
}
form.form-user-input .progress-container {
  position: absolute;
  margin-top: 14px;
  opacity: 0.5;
  font-size: 22px;
}
form.form-user-input .progress-container .spinner {
  margin-left: 20px;
  margin-top: 20px;
}
.div-input .link-clear {
  opacity: 0.6;
}
.div-input .link-clear:hover {
  opacity: 0.8;
}
.tr-lightgrey {
  background: #f8f8f8;
}
.app-sentence form.form-user-input .progress-container {
  position: absolute;
  margin-top: 14px;
  opacity: 0.5;
  font-size: 22px;
}
.app-sentence form.form-user-input .progress-container .spinner {
  margin-left: 40px;
  margin-top: 20px;
}
.font-verylightgrey {
  color: grey;
  opacity: 0.5;
}
.clickable-icon {
  opacity: 0.5;
  margin-left: 2px;
}
.clickable-icon:hover {
  opacity: 1;
}
.table-action .progress-container {
  position: absolute;
  font-size: 18px;
  margin-top: 2px;
  opacity: 0.5;
}
.table-action .progress-container .spinner {
  margin-top: 20px;
  margin-left: 10px;
}
.table-action .progress-container1 {
  margin-left: 100px;
}
.table-action .progress-container2 {
  margin-left: 105px;
}
.table-action .progress-container3 {
  margin-left: 115px;
}
.my-small-text-button {
  font-weight: normal !important;
  font-size: 12px !important;
  opacity: 0.7 !important;
  cursor: pointer;
  color: #08c;
}
.my-small-text-button:hover {
  text-decoration: underline;
  color: #00527A;
}
