a.brand {
  pointer-events: none;
  color: #4ab0e9 !important;
}
.textarea-full {
  width: 100%;
  max-width: 100%;
}
.checkbox {
  margin-top: 0 !important;
}
.textarea {
  margin-bottom: 5px;
}
.sentiment-positive {
  color: green;
}
.sentiment-negative {
  color: red;
}
.section {
  margin-bottom: 20px;
}
.section .section-header .section-title {
  font-size: 20px;
  font-weight: bold;
}
.section .subsection-header .section-title {
  font-size: 15px;
  font-weight: bold;
}
.main-container {
  margin-top: 50px;
}
.main-container .main-title {
  margin-bottom: 15px;
}
.result {
  margin-left: 5px;
}
.color-light-green {
  color: #8cca8c;
}
.color-light-red {
  color: #e79b9b;
}
.font-bold {
  font-weight: bold;
}
.font-normal {
  font-weight: normal;
}
.font-small {
  font-size: 11px;
}
.background-verylightgreen {
  background-color: #d8ffd8;
}
.background-verylightred {
  background-color: #ffd8d8;
}
.div-sentence {
  margin-bottom: 10px;
}
