{% extends "base.html" %}

{% block title %}Sentiment Analysis{% endblock %}

{% block navbar_home %}<li class="active"><a href="/">Home</a></li>{% endblock %}

{% block main-title %}
	Sentiment Analysis
{% endblock %}

{% block main-description %}
 	<p>Please select an option from the top bar.</p>
{% endblock %}

{% block main-content %}
	<div class="reference" style="margin-top:30px;">
		<h4>Reference</h4>
		<ul>
			<li>
				Source for the positive/negative words: <a href="http://www.cs.uic.edu/~liub/FBS/sentiment-analysis.html" target="_blank">Opinion Mining, Sentiment Analysis, and Opinion Spam Detection	</a>
			</li>
			<li>
				Minqing Hu and Bing Liu. "Mining and Summarizing Customer Reviews." Proceedings of the ACM SIGKDD International Conference on Knowledge, Discovery and Data Mining (KDD-2004), Aug 22-25, 2004, Seattle, Washington, USA
			</li>
			<li>
				Bird, Steven, Edward Loper and Ewan Klein (2009). Natural Language Processing with Python. O’Reilly Media Inc.
			</li>
			<li>
				University of Michigan, <a href="http://inclass.kaggle.com/c/si650winter11/data" target="_blank">Sentiment Classification Data</a>, 28 Mar 2011
			</li>
			<li>
				Andrew L. Maas, Raymond E. Daly, Peter T. Pham, Dan Huang, Andrew Y. Ng, and Christopher Potts. (2011). Learning Word Vectors for Sentiment Analysis. The 49th Annual Meeting of the Association for Computational Linguistics (ACL 2011).
			</li>
			<li>
				Bo Pang and Lillian Lee, Seeing stars: Exploiting class relationships for sentiment categorization with respect to rating scales, Proceedings of ACL 2005.
			</li>
		</ul>
	</div>
{% endblock %}