{% extends "base.html" %}

{% block head %}

{% load staticfiles %}
<script type="text/javascript" src="{% static 'javascript/showSpinner1.js' %}"></script>
{% endblock %}

{% block title %}LDA{% endblock %}

{% block body %}
<script>

	function registerVideoTriggerButtons() {
		var $targetDiv = $('#video-div');
		var $targetIframe = $('#video-iframe');
		var $buttons = $('.lda-button');
		$buttons.each(function() {
			$(this).click(function() {
				if ($targetDiv.length > 0) {
					//$targetDiv.show();
					$targetDiv.slideToggle();
				}
			});
		});
	}

	function onloadFunction() {
		window.loadSpinnerHandlers();
		var outputHeader = $('.h-output');
		if (outputHeader.length > 0) {
			var top = outputHeader.position().top - 40; // navbar
			$('body').animate({ scrollTop: top }, 500);
		}
		window.registerVideoTriggerButtons();
	}

	window.onload = window.onloadFunction;
</script>
{% endblock %}

{% block navbar_lda %}<li class="active"><a href="/lda">LDA</a></li>{% endblock %}

{% block main-title %}Latent Dirichlet Allocation (LDA){% endblock %}

{% block main-description %}
<p>Latent Dirichlet Allocation (LDA).</p>
{% endblock %}

{% block main-content %}

	<div class="row">
		<div class="offset2 span8">
			<table class="table-centered table table-condensed table-bordered table-striped table-action">
				<caption><strong>Available Data Sets</strong></caption>
				<thead>
					<tr class="">
						<th>Data Set</th>
						<th>LDA Model (5 topics)</th>
						<th>LDA Model (10 topics)</th>
					</tr>
				</thead>

				<tbody>

					<tr>
						<!-- Movie -->
						<td>Movie</td>
						<td>
							<form action="/lda/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="lda-movie-5" />
								<div class="progress-container progress-container5">
								{% if action|stringformat:"s" == "lda-movie-5" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small lda-button" />
							</form>
						</td>
						<td>
							<form action="/lda/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="lda-movie-10" />
								<div class="progress-container progress-container5">
								{% if action|stringformat:"s" == "lda-movie-10" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small lda-button" />
							</form>
						</td>
					</tr>

					<tr>
						<!-- Celebrity -->
						<td>Celebrities</td>
						<td>
							<form action="/lda/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="lda-celebrity-5" />
								<div class="progress-container progress-container5">
								{% if action|stringformat:"s" == "lda-celebrity-5" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small lda-button" />
							</form>
						</td>
						<td>
							<form action="/lda/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="lda-celebrity-10" />
								<div class="progress-container progress-container5">
								{% if action|stringformat:"s" == "lda-celebrity-10" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small lda-button" />
							</form>
						</td>
					</tr>

					<tr>
						<!-- UFO -->
						<td>UFO</td>
						<td>
							<form action="/lda/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="lda-ufo-5" />
								<div class="progress-container progress-container5">
								{% if action|stringformat:"s" == "lda-ufo-5" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small lda-button" />
							</form>
						</td>
						<td>
							<form action="/lda/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="lda-ufo-10" />
								<div class="progress-container progress-container5">
								{% if action|stringformat:"s" == "lda-ufo-10" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small lda-button" />
							</form>
						</td>
					</tr>

					<tr>
						<!-- Syria -->
						<td>Syria</td>
						<td>
							<form action="/lda/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="lda-syria-5" />
								<div class="progress-container progress-container5">
								{% if action|stringformat:"s" == "lda-syria-5" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small lda-button" />
							</form>
						</td>
						<td>
							<form action="/lda/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="lda-syria-10" />
								<div class="progress-container progress-container5">
								{% if action|stringformat:"s" == "lda-syria-10" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small lda-button" />
							</form>
						</td>
					</tr>

					<tr>
						<!-- Russia -->
						<td>Russia</td>
						<td>
							<form action="/lda/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="lda-russia-5" />
								<div class="progress-container progress-container5">
								{% if action|stringformat:"s" == "lda-russia-5" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small lda-button" />
							</form>
						</td>
						<td>
							<form action="/lda/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="lda-russia-10" />
								<div class="progress-container progress-container5">
								{% if action|stringformat:"s" == "lda-russia-10" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small lda-button" />
							</form>
						</td>
					</tr>

				</tbody>

			</table>
		</div>
	</div>

	<div id="video-div" style="text-align:center; display:none;">
		<h4>Here's something to watch while you're waiting. Click to play! :)</h4>
		<iframe width="560" height="315" src="//www.youtube.com/embed/uNr6uxjvfb4" frameborder="0" allowfullscreen id="video-iframe"></iframe>
	</div>

	<div class="row" style="display:none;">
		<div class="span12">
			<div class="text-center" style=""><h3>Input</h3></div>
			<form action="/noun/" method="POST" class="form-user-input">
				{% csrf_token %}
				<textarea class="textarea-full textarea" rows="10" name="textarea">{% if text %}{{ text }}{% else %}{% endif %}</textarea>
				<input type="hidden" name="action" value="user-input" />
				<div class="progress-container" style="margin-left:520px; margin-top:20px;">
				{% if action|stringformat:"s" == "user-input" %}&#9754;{% endif %}
				</div>
				<input type="submit" value="Go" class="btn btn-success btn-large" style="display:block; margin:10px auto;"/>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="span12">
				{% if result %}
				<div class="text-center" style=""><h3 class="h-output">Output</h3></div>

				<div class="result">

					{% if result.topics %}
					<div class="div-topics">
						<h3>Topics</h3>
						{% for topic in result.topics %}
						<div class="div-topic">
							<h4>Topic {{ forloop.counter }}</h4>
							<table class="table table-condensed table-bordered table-centered">
							<tbody>
								<tr>
									<td class="color-light-grey"><strong>Words</strong></td>
									{% for elem in topic %}
										<td>{{ elem.word }}</td>
									{% endfor %}
								</tr>
								<tr>
									<td class="color-light-grey"><strong>Weights</strong></td>
									{% for elem in topic %}
										<td>{{ elem.weight }}</td>
									{% endfor %}
								</tr>
							</tbody>
							</table>
						</div>
						{% endfor %}
					</div>
					{% endif %}

				</div> <!-- result -->
				{% endif %}
		</div>
	</div>

{% endblock %}