{% extends "base.html" %}

{% block head %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'javascript/showSpinner.js' %}"></script>
{% endblock %}

{% block title %}Noun Analysis{% endblock %}

{% block navbar_noun %}<li class="active"><a href="/noun">Noun</a></li>{% endblock %}

{% block main-title %}Noun Analysis{% endblock %}

{% block main-description %}
<p>We determine the sentiment of each sentence based on the number of positive/negative words used. Then we identify the nouns in these sentences to fathom the author's sentiment for these objects.</p>
{% endblock %}

{% block main-content %}

	<div class="row">
		<div class="offset2 span8">
			<table class="table-action table-centered table table-condensed table-bordered">
				<caption><strong>Available Data Sets</strong></caption>
				<thead>
					<tr class="tr-lightgrey">
						<th>Data Set</th>
						<th>Positive Sample</th>
						<th>Negative Sample</th>
					</tr>
				</thead>

				<tbody>

					<tr>
						<!-- Movie Reviews -->
						<td>Movie Reviews</td>
						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-positive-movie" />
								<div class="progress-container" style="margin-left:130px;">
								{% if action|stringformat:"s" == "sample-positive-movie" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small" />
								
							</form>
						</td>

						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-negative-movie" />
								<div class="progress-container" style="margin-left:135px;">
								{% if action|stringformat:"s" == "sample-negative-movie" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-danger btn-small" />
							</form>
						</td>

					</tr>

					<tr>
						<!-- Bieber -->
						<td>Celebrity News</td>
						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-positive-celebrity" />
								<div class="progress-container" style="margin-left:130px;">
								{% if action|stringformat:"s" == "sample-positive-celebrity" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small" />
								
							</form>
						</td>

						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-negative-celebrity" />
								<div class="progress-container" style="margin-left:135px;">
								{% if action|stringformat:"s" == "sample-negative-celebrity" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-danger btn-small" />
							</form>
						</td>

					</tr>

				</tbody>

			</table>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<div class="text-center"><h4>Input</h4></div>
			<form action="/noun/" method="POST" class="form-user-input">
				{% csrf_token %}
				<textarea class="textarea-full textarea" rows="15" name="textarea">{% if text %}{{ text }}{% else %}{% endif %}</textarea>
				<input type="hidden" name="action" value="user-input" />
				<div class="offset3 progress-container">
				{% if action|stringformat:"s" == "user-input" %}&#9754;{% endif %}
				</div>
				<input type="submit" value="Go" class="btn btn-success btn-large offset2" style="margin-top: 5px;"/>
			</form>
		</div>

		<div class="span6">
			<div class="text-center"><h4>Output</h4></div>

				{% if result %}
				<div class="result">

					<!-- SECTION 1: Processed Text -->
					{% if result.sentences|length > 0 %}
					<div class="div-sentences" style="margin-bottom:30px;">
						<h4 style="margin-top:0px;">Processed Text</h4>
						{% for sentence in result.sentences %}
							<div class='div-sentence
							{% if sentence.sentiment|stringformat:"s" == "positive" %}
								background-verylightgreen
							{% endif %}
							{% if sentence.sentiment|stringformat:"s" == "negative" %}
								background-verylightred
							{% endif %}
							'>
							{% for word in sentence.words %}
								<span style='opacity:0.8;
								{% if word.isNoun|stringformat:"s" == "true" %}
									font-weight: bold;
								{% endif %}
								'>({{ word.type }})</span> <span style='
									{% if word.sentiment|stringformat:"s" == "positive" %}
										color:green; font-weight:bold;
									{% endif %}
									{% if word.sentiment|stringformat:"s" == "negative" %}
										color:red; font-weight:bold;
									{% endif %}	
								'>{{ word.value }}</span>
							{% endfor %}
							</span><br/>
							</div>
						{% endfor %}
					</div>
					{% endif %}

					<!-- SECTION 2: Scores -->
					{% if result.words|length > 0 %}
					<div class="div-scores">
						<h4>Scores</h4>
						<table class="table table-condensed table-bordered table-centered">
							<thead>
								<tr class="tr-lightgrey">
									<th>Noun</th>
									<th>Positive Neighbors</th>
									<th>Negative Neighbors</th>
									<th>Score</th>
								</tr>
							</thead>
							<tbody>
							{% for word in result.words %}
								<tr style='
									{% if word.sentiment|stringformat:"s" == "positive" %}
										color:green;
									{% endif %}
									{% if word.sentiment|stringformat:"s" == "negative" %}
										color:red;
									{% endif %}
								'>
									<td>{{ word.value }}</td>
									<td>
									{% for pn in word.positive_neighbors %}
										<div style="color:rgb(140, 202, 140);">{{ pn.value }} ({{ pn.count }})</div>
									{% endfor %}
									</td>
									<td>
									{% for nn in word.negative_neighbors %}
										<div style="color:rgb(231, 155, 155)">{{ nn.value }} ({{ nn.count }})</div>
									{% endfor %}
									</td>
									<td>{{ word.score }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
					{% endif %}

				</div> <!-- result -->
				{% endif %}
		</div>
	</div>

{% endblock %}