{% extends "base.html" %}

{% block head %}

{% load staticfiles %}
<script type="text/javascript" src="{% static 'javascript/showSpinner1.js' %}"></script>
{% endblock %}

{% block title %}Noun Analysis{% endblock %}

{% block body %}
<script>

	function registerCombinedSampleButtons() {
		var $targetDiv = $('#video-div');
		var $targetIframe = $('#video-iframe');

		var $combinedSampleButtons = $('.combined-sample-submit-button');
		$combinedSampleButtons.each(function() {
			$(this).click(function() {
				if ($targetDiv.length > 0) {
					$targetDiv.slideToggle();
				}
			});
		});
	}

	function handleCollapseButtonClick(event) {
		$collapseButton = $(event.target);
		var targetID = $collapseButton.attr('data-target');
		var $target = $(targetID);
		if ($target.length > 0) {
			if ($target.is(':visible')) {
				// hide
				$target.fadeOut();
				$collapseButton.text('(show)');
			} else {
				// show
				$target.fadeIn();
				$collapseButton.text('(hide)');
			}
		}
	}

	function registerCollapseButtons() {
		var $collapseButtons = $('.collapse-button');
		$collapseButtons.each(function() {
			$(this).click(window.handleCollapseButtonClick);
		});
	}

	function handleTotalNeighborButtonClick(event) {
		$button = $(event.target);
		$divNeighbors = $button.closest('tr').find('.div-neighbors');
		$divNeighbors.slideToggle();
	}

	function registerTotalNeighborButtons() {
		var $buttons = $('.div-total-neighbor-count');
		$buttons.each(function() {
			$(this).click(handleTotalNeighborButtonClick);
		});
	}

	function onloadFunction() {
		window.loadSpinnerHandlers();
		var outputHeader = $('.h-output');
		if (outputHeader.length > 0) {
			var top = outputHeader.position().top - 40; // navbar
			$('body').animate({ scrollTop: top }, 500);
		}
		window.registerCollapseButtons();
		window.registerCombinedSampleButtons();
		window.registerTotalNeighborButtons();
	}

	window.onload = window.onloadFunction;
</script>
{% endblock %}

{% block navbar_noun %}<li class="active"><a href="/noun">Noun</a></li>{% endblock %}

{% block main-title %}Noun Analysis{% endblock %}

{% block main-description %}
<p>We determine the sentiment of each sentence based on the number of positive/negative words used. Then we identify the nouns in these sentences to fathom the author's sentiment for these objects.</p>
{% endblock %}

{% block main-content %}

	<div class="row">
		<div class="offset2 span8">
			<table class="table-centered table table-condensed table-bordered table-striped table-action">
				<caption><strong>Available Data Sets</strong></caption>
				<thead>
					<tr class="">
						<th>Data Set</th>
						<th>Positive Sample</th>
						<th>Negative Sample</th>
						<th>Combined Samples <small>(~1min)</small></th>
					</tr>
				</thead>

				<tbody>

					<tr>
						<!-- Movie Reviews -->
						<td>Movie Reviews</td>
						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-positive-movie" />
								<div class="progress-container progress-container1">
								{% if action|stringformat:"s" == "sample-positive-movie" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small" />
								
							</form>
						</td>

						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-negative-movie" />
								<div class="progress-container progress-container2">
								{% if action|stringformat:"s" == "sample-negative-movie" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-danger btn-small" />
							</form>
						</td>

						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-combined-movie" />
								<div class="progress-container progress-container3">
								{% if action|stringformat:"s" == "sample-combined-movie" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-info btn-small combined-sample-submit-button" />
								<span style="position:absolute; margin-left:-98px; margin-top:1px; opacity:0.5;">
									(<span style="color:rgb(24, 133, 24);">10</span>,
									<span style="color:rgb(255, 61, 61);">10</span>)
								</span>
							</form>
						</td>

					</tr>

					<tr>
						<!-- Celebrity -->
						<td>Celebrity News</td>
						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-positive-celebrity" />
								<div class="progress-container progress-container1">
								{% if action|stringformat:"s" == "sample-positive-celebrity" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small" />
							</form>
						</td>

						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-negative-celebrity" />
								<div class="progress-container progress-container2">
								{% if action|stringformat:"s" == "sample-negative-celebrity" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-danger btn-small" />
							</form>
						</td>

						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-combined-celebrity" />
								<div class="progress-container progress-container3">
								{% if action|stringformat:"s" == "sample-combined-celebrity" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-info btn-small combined-sample-submit-button" />
								<span style="position:absolute; margin-left:-98px; margin-top:1px; opacity:0.5;">
									(<span style="color:rgb(24, 133, 24);">15</span>,
									<span style="color:rgb(255, 61, 61);">16</span>)
								</span>
							</form>
						</td>

					</tr>


					<tr>
						<!-- UFO -->
						<td>UFO</td>
						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-positive-ufo" />
								<div class="progress-container progress-container1">
								{% if action|stringformat:"s" == "sample-positive-ufo" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small" />
								
							</form>
						</td>

						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-negative-ufo" />
								<div class="progress-container progress-container2">
								{% if action|stringformat:"s" == "sample-negative-ufo" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-danger btn-small" />
							</form>
						</td>

						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-combined-ufo" />
								<div class="progress-container progress-container3">
								{% if action|stringformat:"s" == "sample-combined-ufo" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-info btn-small combined-sample-submit-button" />
								<span style="position:absolute; margin-left:-98px; margin-top:1px; opacity:0.5;">
									(<span style="color:rgb(24, 133, 24);">13</span>,
									<span style="color:rgb(255, 61, 61);">15</span>)
								</span>
							</form>
						</td>

					</tr>

					<tr>
						<!-- Syria -->
						<td>Syrian Conflict</td>
						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-positive-syria" />
								<div class="progress-container progress-container1">
								{% if action|stringformat:"s" == "sample-positive-syria" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small" />
								
							</form>
						</td>

						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-negative-syria" />
								<div class="progress-container progress-container2">
								{% if action|stringformat:"s" == "sample-negative-syria" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-danger btn-small" />
							</form>
						</td>

						<td>
							<form action="/noun/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-combined-syria" />
								<div class="progress-container progress-container3">
								{% if action|stringformat:"s" == "sample-combined-syria" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-info btn-small combined-sample-submit-button" />
								<span style="position:absolute; margin-left:-98px; margin-top:1px; opacity:0.5;">
									(<span style="color:rgb(24, 133, 24);">14</span>,
									<span style="color:rgb(255, 61, 61);">15</span>)
								</span>
							</form>
						</td>

					</tr>

				</tbody>

			</table>
		</div>
	</div>

	<div id="video-div" style="text-align:center; display:none;">
		<h4>Here's something to watch while you're waiting. Click to play! :)</h4>
		<iframe width="560" height="315" src="//www.youtube.com/embed/uNr6uxjvfb4" frameborder="0" allowfullscreen id="video-iframe"></iframe>
	</div>

	<div class="row">
		<div class="span12">
			<div class="text-center" style=""><h3>Input</h3></div>
			<form action="/noun/" method="POST" class="form-user-input">
				{% csrf_token %}
				<textarea class="textarea-full textarea" rows="10" name="textarea">{% if text %}{{ text }}{% else %}{% endif %}</textarea>
				<input type="hidden" name="action" value="user-input" />
				<div class="progress-container" style="margin-left:520px; margin-top:20px;">
				{% if action|stringformat:"s" == "user-input" %}&#9754;{% endif %}
				</div>
				<input type="submit" value="Go" class="btn btn-success btn-large" style="display:block; margin:10px auto;"/>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="span12">
				{% if result %}
				<div class="text-center" style=""><h3 class="h-output">Output</h3></div>

				<div class="result">

					<div class="div-index" id="section-index">
						<h3>Index</h3>
						<ul>
							{% if result.words|length > 0 %}
								<li><a href="#section-scores">Scores</a></li>
							{% endif %}
							{% if result.sentences|length > 0 %}
								<li><a href="#section-processed-text">Processed Text</a></li>
							{% endif %}
						</ul>
					</div>

					<!-- SECTION: Scores -->
					{% if result.words|length > 0 %}
					
					<div class="div-scores" id="section-scores">
						<h3>Scores
							<span class="my-small-text-button collapse-button" data-target="#score-table">(hide)</a>
						</h3>

						<!-- controversy scoring modal -->
						<div class="modal hide fade" id="modal-controversy-scoring">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h3>Controversy Scoring</h3>
							</div>
							<div class="modal-body">
								<p class="text-center">
									{% load static %}
									<img src='{% static "images/math-controversy-scoring.png" %}' alt="math-controversy-scoring.png" />
								</p>
							</div>
						</div>

						<!-- sentiment scoring modal -->
						<div class="modal hide fade" id="modal-sentiment-scoring">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h3>Sentiment Scoring</h3>
							</div>
							<div class="modal-body">
								<p class="text-center">
									{% load static %}
									<img src='{% static "images/math-sentiment-scoring.png" %}' alt="math-sentiment-scoring.png" />
								</p>
							</div>
						</div>

						<!-- scores table -->
						<table class="table table-condensed table-bordered table-centered table-striped" id="score-table">
							<thead>
								<tr class="">
									<th>Noun(s)</th>
									<th>Controversy Score
										<a href="#modal-controversy-scoring" role="button" data-toggle="modal" data-target="#modal-controversy-scoring" class="icon-question-sign clickable-icon" />
									</th>
									<th>Sentiment Score
										<a href="#modal-sentiment-scoring" role="button" data-toggle="modal" data-target="#modal-sentiment-scoring" class="icon-question-sign clickable-icon" />

									</th>
									<th>Positive Neighbors</th>
									<th>Negative Neighbors</th>
								</tr>
							</thead>
							<tbody>
							{% for word in result.words %}
								<tr style="
									{% if word.controversy_score == 0 %}
										color: rgb(172, 172, 172);
									{% endif %}
								">
									<!-- noun -->
									<td style='
										{% if word.sentiment|stringformat:"s" == "positive" %}
											font-weight:bold; color:green;
										{% else %}
										{% if word.sentiment|stringformat:"s" == "negative" %}
											font-weight:bold; color:red;
										{% else %}
											font-weight:bold;
										{% endif %}
										{% endif %}
									'>
										{% for value in word.values %}
											<div>{{ value }}</div>
										{% endfor %}
									</td>

									<!-- controversy score -->
									<td style="">{{ word.controversy_score|floatformat:2 }}</td>

									<!-- sentiment score -->
									{% if word.sentiment_score > 0 %}
										<td style="color:green;">{{ word.sentiment_score }}</td>
									{% else %}
									{% if word.sentiment_score < 0 %}
										<td style="color:red;">{{ word.sentiment_score }}</td>
									{% else %}
										<td style="">{{ word.sentiment_score }}</td>
									{% endif %}
									{% endif %}

									<!-- positive neighbors -->
									<td>
										<a class="div-total-neighbor-count" style="color:green;">
											<span class="">TOTAL</span>
											<span>({{ word.positive_count }})</span>
										</a>
										<div class="div-neighbors">
											{% for pn in word.positive_neighbors %}
											<div class="muted"><span class="color-light-green">{{ pn.value }}</span> <span>({{ pn.count }})</span></div>
											{% endfor %}
										</div>
									</td>

									<!-- negative neighbors -->
									<td>
										<a class="div-total-neighbor-count" style="color:red;">
											<span class="">TOTAL</span>
											<span>({{ word.negative_count }})</span>
										</a>
										<div class="div-neighbors">
											{% for nn in word.negative_neighbors %}
											<div class="muted"><span class="color-light-red">{{ nn.value }}</span> <span>({{ nn.count }})</span></div>
											{% endfor %}
										</div>
									</td>

								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
					{% endif %} <!-- scores section -->

					<!-- SECTION: Processed Text -->
					{% if result.sentences|length > 0 %}
					<div id="section-processed-text" class="div-sentences" style="margin-bottom:30px;">
						<h3>
							Processed Text
							<span class="my-small-text-button collapse-button" data-target="#div-sentences">(show)</a>
						</h3>
						<div id="div-sentences" style="display:none;">
						{% for sentence in result.sentences %}
							<div id="div-sentence" class='div-sentence
							{% if sentence.sentiment|stringformat:"s" == "positive" %}
								background-verylightgreen
							{% endif %}
							{% if sentence.sentiment|stringformat:"s" == "negative" %}
								background-verylightred
							{% endif %}
							'>
							{% for word in sentence.words %}
								{% if word.isNoun|stringformat:"s" == "true" %}
									<!--  noun -->
									<span class="font-verylightgrey">({{ word.type }})</span><span style="font-weight:bold; opacity:0.9;">{{ word.value }}</span>
								{% else %}
								{% if word.isAdjective|stringformat:"s" == "true" %}
									<!--  adjective -->
									{% if word.sentiment|stringformat:"s" == "positive" %}
										<!--  positive -->
										<span class="font-verylightgrey">({{ word.type }})</span><span style="font-weight:bold; opacity:0.9; color:green;">{{ word.value }}</span>
									{% else %}
									{% if word.sentiment|stringformat:"s" == "negative" %}
										<!--  negative -->
										<span class="font-verylightgrey">({{ word.type }})</span><span style="font-weight:bold; opacity:0.9; color:red;">{{ word.value }}</span>
									{% else %}
										<!-- neither -->
										<span class="font-verylightgrey">({{ word.type }})</span><span style="opacity:0.8;">{{ word.value }}</span>
									{% endif %}
									{% endif %}
								{% else %}
									<!--  Other -->
									<span class="font-verylightgrey">({{ word.type }})</span><span style="opacity:0.8;">{{ word.value }}</span>
								{% endif %}
								{% endif %}
							{% endfor %}
							</span><br/>
							</div>
						{% endfor %}
						</div> <!-- #div-sentences -->
					</div>
					{% endif %} <!-- processed text section -->

				</div> <!-- result -->
				{% endif %}
		</div>
	</div>

{% endblock %}