{% extends "base.html" %}

{% block title %}Reference{% endblock %}

{% block navbar_reference %}<li class="active"><a href="/reference">Reference</a></li>{% endblock %}

{% block main-title %}Reference{% endblock %}

{% block main-description %}{% endblock %}

{% block main-content %}
	<ul>
		<li>
			<a href="http://www.cs.uic.edu/~liub/FBS/sentiment-analysis.html" target="_blank">Source of positive/negative words</a>
		</li>
		<li>
			Minqing Hu and Bing Liu. "Mining and Summarizing Customer Reviews." Proceedings of the ACM SIGKDD International Conference on Knowledge, Discovery and Data Mining (KDD-2004), Aug 22-25, 2004, Seattle, Washington, USA
		</li>
	</ul>
{% endblock %}