{% extends "base.html" %}

{% block head %}
<script>
function optsSmall() {
	var ret = {
	  lines: 13, // The number of lines to draw
	  length: 4, // The length of each line
	  width: 2, // The line thickness
	  radius: 4, // The radius of the inner circle
	  // length: 20, // The length of each line
	  //width: 10, // The line thickness
	  //radius: 30, // The radius of the inner circle
	  corners: 1, // Corner roundness (0..1)
	  rotate: 0, // The rotation offset
	  direction: 1, // 1: clockwise, -1: counterclockwise
	  color: '#000', // #rgb or #rrggbb or array of colors
	  speed: 1, // Rounds per second
	  trail: 60, // Afterglow percentage
	  shadow: false, // Whether to render a shadow
	  hwaccel: false, // Whether to use hardware acceleration
	  className: 'spinner', // The CSS class to assign to the spinner
	  zIndex: 2e9, // The z-index (defaults to 2000000000)
	  top: 'auto', // Top position relative to parent in px
	  left: 'auto' // Left position relative to parent in px
	};
	return ret;
}

function optsBig() {
	var ret = {
	  lines: 13, // The number of lines to draw
	  length: 6, // The length of each line
	  width: 3, // The line thickness
	  radius: 8, // The radius of the inner circle
	  // length: 20, // The length of each line
	  //width: 10, // The line thickness
	  //radius: 30, // The radius of the inner circle
	  corners: 1, // Corner roundness (0..1)
	  rotate: 0, // The rotation offset
	  direction: 1, // 1: clockwise, -1: counterclockwise
	  color: '#000', // #rgb or #rrggbb or array of colors
	  speed: 1, // Rounds per second
	  trail: 60, // Afterglow percentage
	  shadow: false, // Whether to render a shadow
	  hwaccel: false, // Whether to use hardware acceleration
	  className: 'spinner', // The CSS class to assign to the spinner
	  zIndex: 2e9, // The z-index (defaults to 2000000000)
	  top: 'auto', // Top position relative to parent in px
	  left: 'auto' // Left position relative to parent in px
	};
	return ret;
}

function showSpinner(event) {
	$('.progress-container').empty()
	var size = event.data['size'];
	var opts;
	if (size == "small") {
		opts = window.optsSmall();
	} else if (size == "big") {
		opts = window.optsBig();
	}
	var form = $(event.target).parent();
	var container = form.find('.progress-container')
	container.css('opacity', '1.0');
	var spinner = new Spinner(opts).spin(container[0]);
}

window.onload = function() {
	$('.table-action').find('input[type="submit"]').click(
		{ 'size' : 'small' }, showSpinner
	);
	$('.form-user-input').find('input[type="submit"]').click(
		{ 'size' : 'big' }, showSpinner
	);
};

</script>
{% endblock %}

{% block title %}Simple Analysis{% endblock %}

{% block navbar_simple %}<li class="active"><a href="/simple">Simple</a></li>{% endblock %}

{% block main-title %}Simple Analysis{% endblock %}

{% block main-description %}
	<p>The sentiment is determined based on the number of positive and negative words that are present.</p>
{% endblock %}

{% block main-content %}
	<div class="row">
		<div class="offset2 span8">
			<table class="table-action table-centered table table-striped table-condensed table-bordered">
				<caption><strong>Available Data Set Actions</strong></caption>
				<thead>
					<tr>
						<th>Data Set</th>
						<th>Positive Sample</th>
						<th>Negative Sample</th>
						<th>Accuracy Test</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Movie Review</td>
						<td>
							<form action="/simple/" method="POST" style="margin-bottom: 0px;">
								{% csrf_token %}
								<input type="hidden" name="action" value="sample-positive-movie" />
								<div class="progress-container" style="opacity:0.5; margin-left:105px; margin-top:2px;">
								{% if action|stringformat:"s" == "sample-positive-movie" %}
									&#10003;
								{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small" />
								
							</form>
						</td>

						<td>
							<form action="/simple/" method="POST" style="margin-bottom: 0px;">
								{% csrf_token %}
								<input type="hidden" name="action" value="sample-negative-movie" />
								<div class="progress-container" style="opacity:0.5; margin-left:108px; margin-top:2px;">
								{% if action|stringformat:"s" == "sample-negative-movie" %}
									&#10003;
								{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-danger btn-small" />
							</form>
						</td>

						<td>
							<form action="/simple/" method="POST" style="margin-bottom: 0px;">
								{% csrf_token %}
								<input type="hidden" name="action" value="test-movie" />
								<div class="progress-container" style="opacity:0.5; margin-left:100px; margin-top:2px;">
								{% if action|stringformat:"s" == "test-movie" %}
									&#10003;
								{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-info btn-small" />
							</form>
						</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<div class="text-center"><h4>Input
				<a href="/simple/" style="font-size:13px; font-weight: normal; text-decoration: underline; margin-left: 3px;">(clear)</a>
			</h4></div>
			<form action="/simple/" method="POST" class="form-user-input">
				{% csrf_token %}
				<textarea class="textarea-full textarea" rows="20" name="textarea">{{ text }}</textarea>
				<div class="muted" style="margin-bottom: 0px; font-size: 13px;">
				</div>
				<input type="hidden" name="action" value="user-input" />
				<div class="offset3 progress-container" style="font-size:20px; opacity:0.5;">
				{% if action|stringformat:"s" == "user-input" %}
					&#10003;
				{% endif %}
				</div>
				<input type="submit" value="Go" class="btn btn-success btn-large offset2" style="margin-top: 5px;" />
			</form>
		</div>

		<div class="span6">
			<div class="text-center"><h4>Output</h4></div>
				<div class="result">
					{% if result_test %}
						<table class="table table-centered table-bordered table-condensed">
							<thead>
								<tr>
									<th></th>
									<th>Total </th>
									<th>Correct</th>
									<th>Accuracy</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Positive</td>
									<td>{{ result_test.total.positive }}</td>
									<td>{{ result_test.correct.positive }}</td>
									<td>{{ result_test.accuracy.positive }}</td>
								</tr>
								<tr>
									<td>Negative</td>
									<td>{{ result_test.total.negative }}</td>
									<td>{{ result_test.correct.negative }}</td>
									<td>{{ result_test.accuracy.negative }}</td>
								</tr>
							</tbody>
						</table>
					{% endif %}

					{% if result_single %}

					<!-- SECTION 1: Overall sentiment -->
					<div class="section overall-sentiment">
						<div class="section-header">
							<span class="section-title">Overall Sentiment</span>
						</div>
						{% if result_single.overall_sentiment|stringformat:"s" == "positive"  %}
							<span class="sentiment-positive font-bold">Positive</span>
						{% else %}
						{% if result_single.overall_sentiment|stringformat:"s" == "negative"  %}
							<span class="sentiment-negative font-bold">Negative</span>
						{% else %}
							<span class="font-bold">Neither</span>
						{% endif %}
						{% endif %}
					</div>

					<!-- SECTION 2: Processed, color-coded text -->
					{% if result_single.words|length > 0 %}
					<div class="section words" >
						<div class="section-header">
							<span class="section-title">Processed Text</span>
						</div>
						{% for word in result_single.words %}
							{% if word.sentiment|stringformat:"s" == "positive"  %}
								<span class="sentiment-positive font-bold">{{ word.value }}</span>
							{% else %}
							{% if word.sentiment|stringformat:"s" == "negative"  %}
								<span class="sentiment-negative font-bold">{{ word.value }}</span>
							{% else %}
								<span class="muted">{{ word.value }}</span>
							{% endif %}
							{% endif %}
						{% endfor %}
					</div>
					{% endif %}

					<!-- SECTION 3: Statistics -->
					<div class="section">
						<div class="section-header" style="margin-bottom: 3px;">
							<span class="section-title">Stats</span>
						</div>

						<div class="section positive-words" style="position: absolute; padding-bottom: 20px;">
							<div class="subsection-header">
								<span class="section-title">Positive Words ({{ result_single.sentimental_words.count.positive }})</span>
							</div>
							{% for word in result_single.sentimental_words.positive %}
								<div class="muted"><span class="color-light-green">{{ word.value }}</span> (<span>{{ word.count }}</span>)</div>
							{% endfor %}
						</div>

						<div class="section negative-words offset3">
							<div class="subsection-header">
								<span class="section-title">Negative Words ({{ result_single.sentimental_words.count.negative }})</span>
							</div>
							{% for word in result_single.sentimental_words.negative %}
								<div class="muted"><span class="color-light-red">{{ word.value }}</span> (<span>{{ word.count }}</span>)</div>
							{% endfor %}
						</div>
					</div>

					<div style="height: 20px;">
					</div>
					
					{% endif %}
				</div> <!-- result -->
		</div>
	</div>
{% endblock %}