{% extends "base.html" %}

{% block head %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'javascript/showSpinner.js' %}"></script>
{% endblock %}

{% block title %}Simple Analysis{% endblock %}

{% block navbar_simple %}<li class="active"><a href="/simple">Simple</a></li>{% endblock %}

{% block main-title %}Simple Analysis{% endblock %}

{% block main-description %}
	<p>The sentiment is determined based on the number of positive and negative words that are present.</p>
{% endblock %}

{% block main-content %}
	<div class="row">
		<div class="offset2 span8">
			<table class="table-action table-centered table table-condensed table-bordered">
				<caption><strong>Available Data Sets</strong></caption>
				<thead>
					<tr class="tr-lightgrey">
						<th>Data Set</th>
						<th>Positive Sample</th>
						<th>Negative Sample</th>
						<th>Accuracy Test</th>
					</tr>
				</thead>

				<tbody>

					<tr>
						<!-- Movie Reviews -->
						<td>Movie Reviews</td>
						<td>
							<form action="/simple/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-positive-movie" />
								<div class="progress-container" style="margin-left:105px;">
								{% if action|stringformat:"s" == "sample-positive-movie" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small" />
								
							</form>
						</td>

						<td>
							<form action="/simple/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-negative-movie" />
								<div class="progress-container" style="margin-left:108px;">
								{% if action|stringformat:"s" == "sample-negative-movie" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-danger btn-small" />
							</form>
						</td>

						<td>
							<form action="/simple/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="test-movie" />
								<div class="progress-container" style="margin-left:100px;">
								{% if action|stringformat:"s" == "test-movie" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-info btn-small" />
							</form>
						</td>
					</tr>

					<tr>
						<!-- Bieber -->
						<td>Celebrity News</td>
						<td>
							<form action="/simple/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-positive-celebrity" />
								<div class="progress-container" style="margin-left:105px;">
								{% if action|stringformat:"s" == "sample-positive-celebrity" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-success btn-small" />
								
							</form>
						</td>

						<td>
							<form action="/simple/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="sample-negative-celebrity" />
								<div class="progress-container" style="margin-left:108px;">
								{% if action|stringformat:"s" == "sample-negative-celebrity" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-danger btn-small" />
							</form>
						</td>

						<td>
							<form action="/simple/" method="POST" style="margin-bottom: 0px;">{% csrf_token %}
								<input type="hidden" name="action" value="test-celebrity" />
								<div class="progress-container" style="margin-left:100px;">
								{% if action|stringformat:"s" == "test-celebrity" %}&#9754;{% endif %}
								</div>
								<input type="submit" value="Go" class="btn btn-info btn-small" />
							</form>
						</td>
					</tr>

				</tbody>

			</table>
		</div>
	</div>

	<div class="row">
		<div class="span6 div-input">
			<div class="text-center"><h4>Input
				<a class="link-clear" href="/simple/" style="font-size:13px; font-weight: normal; text-decoration: underline; margin-left: 3px;">(clear)</a>
			</h4></div>
			<form action="/simple/" method="POST" class="form-user-input">
				{% csrf_token %}
				<textarea class="textarea-full textarea" rows="18" name="textarea">{{ text }}</textarea>
				<div class="muted" style="margin-bottom: 0px; font-size: 13px;">
				</div>
				<input type="hidden" name="action" value="user-input" />
				<div class="offset3 progress-container">
				{% if action|stringformat:"s" == "user-input" %}
					&#9754;
				{% endif %}
				</div>
				<input type="submit" value="Go" class="btn btn-success btn-large offset2" style="margin-top: 5px;" />
			</form>
		</div>

		<div class="span6 div-output">
			<div class="text-center"><h4>Output</h4></div>
				<div class="result">
					{% if result_test %}
						<table class="table table-centered table-bordered table-condensed">
							<thead>
								<tr class="tr-lightgrey">
									<th></th>
									<th>Total </th>
									<th>Correct</th>
									<th>Accuracy</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="color: green;">Positive</td>
									<td>{{ result_test.total.positive }}</td>
									<td>{{ result_test.correct.positive }}</td>
									<td>{{ result_test.accuracy.positive }}</td>
								</tr>
								<tr>
									<td style="color:rgb(209, 65, 65);">Negative</td>
									<td>{{ result_test.total.negative }}</td>
									<td>{{ result_test.correct.negative }}</td>
									<td>{{ result_test.accuracy.negative }}</td>
								</tr>
							</tbody>
						</table>
					{% endif %}

					{% if result_single %}

					<!-- SECTION 1: Overall sentiment -->
					<div class="section overall-sentiment">
						<div class="section-header">
							<span class="section-title">Overall Sentiment</span>
						</div>
						{% if result_single.overall_sentiment|stringformat:"s" == "positive"  %}
							<span class="sentiment-positive font-bold">Positive</span>
						{% else %}
						{% if result_single.overall_sentiment|stringformat:"s" == "negative"  %}
							<span class="sentiment-negative font-bold">Negative</span>
						{% else %}
							<span class="font-bold">Neither</span>
						{% endif %}
						{% endif %}
					</div>

					<!-- SECTION 2: Processed, color-coded text -->
					{% if result_single.words|length > 0 %}
					<div class="section words" >
						<div class="section-header">
							<span class="section-title">Processed Text</span>
						</div>
						{% for word in result_single.words %}
							{% if word.sentiment|stringformat:"s" == "positive"  %}
								<span class="sentiment-positive font-bold">{{ word.value }}</span>
							{% else %}
							{% if word.sentiment|stringformat:"s" == "negative"  %}
								<span class="sentiment-negative font-bold">{{ word.value }}</span>
							{% else %}
								<span class="muted">{{ word.value }}</span>
							{% endif %}
							{% endif %}
						{% endfor %}
					</div>
					{% endif %}

					<!-- SECTION 3: Statistics -->
					<div class="section">
						<div class="section-header" style="margin-bottom: 3px;">
							<span class="section-title">Stats</span>
						</div>

						<div class="section positive-words" style="position: absolute; padding-bottom: 20px;">
							<div class="subsection-header">
								<span class="section-title">Positive Words ({{ result_single.sentimental_words.count.positive }})</span>
							</div>
							{% for word in result_single.sentimental_words.positive %}
								<div class="muted"><span class="color-light-green">{{ word.value }}</span> (<span>{{ word.count }}</span>)</div>
							{% endfor %}
						</div>

						<div class="section negative-words offset3">
							<div class="subsection-header">
								<span class="section-title">Negative Words ({{ result_single.sentimental_words.count.negative }})</span>
							</div>
							{% for word in result_single.sentimental_words.negative %}
								<div class="muted"><span class="color-light-red">{{ word.value }}</span> (<span>{{ word.count }}</span>)</div>
							{% endfor %}
						</div>
					</div>

					<div style="height: 20px;">
					</div>
					
					{% endif %}
				</div> <!-- result -->
		</div>
	</div>
{% endblock %}