{% extends "base.html" %}

{% block title %}Simple Analysis{% endblock %}

{% block navbar_simple %}<li class="active"><a href="/simple">Simple</a></li>{% endblock %}

{% block main-title %}Simple Analysis{% endblock %}

{% block main-description %}
	<p>The sentiment is determined based on the number of positive and negative words that are present.</p>
{% endblock %}

{% block main-content %}
	<div class="row">
		<div class="offset3 span6">
			<table class="table-sample-data table table-striped table-condensed table-bordered">

				<thead>
					<tr>
						<th>Sample Data</th>
						<th>Positive</th>
						<th>Negative</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Movie Review</td>
						<td>
							<form action="/simple/" method="POST" style="margin-bottom: 0px;">
								{% csrf_token %}
								<input type="hidden" name="sample-data" value="positive-movie-review" />
								<input type="submit" value="Go" class="btn btn-success btn-small"/>
								{% if sample_data|stringformat:"s" == "positive-movie-review"  %}
								<span class="symbol-check" style="opacity: 0.5;">&#10003;</span>
								{% endif %}
							</form>
						</td>

						<td>
							<form action="/simple/" method="POST" style="margin-bottom: 0px;">
								{% csrf_token %}
								<input type="hidden" name="sample-data" value="negative-movie-review" />
								<input type="submit" value="Go" class="btn btn-danger btn-small"/>
								{% if sample_data|stringformat:"s" == "negative-movie-review"  %}
								<span class="symbol-check" style="opacity: 0.5;">&#10003;</span>
								{% endif %}
							</form>
						</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<div class="text-center"><h4>Input</h4></div>
			<form action="/simple/" method="POST">
				{% csrf_token %}
				<textarea class="textarea-full textarea" rows="20" name="textarea">{{ text }}</textarea>
				<div class="muted" style="margin-bottom: 0px; font-size: 13px;">
				</div>
<!-- 				<input type="checkbox" name="checkbox-remove-stop-words" value="stop_words" class="checkbox" {{ setup.remove_stop_words_value }}> Remove stop words<br /> -->
<!-- 				<input type="checkbox" name="options" value="stem" class="checkbox"> Perform stemming<br />
 -->				<input type="submit" value="Go" class="btn btn-success btn-large offset2" style="margin-top: 5px;"/>
			</form>
		</div>

		<div class="span6">
			<div class="text-center"><h4>Output</h4></div>
			{% if result %}
				<div class="result">

					<!-- SECTION 1: Overall sentiment -->
					<div class="section overall-sentiment">
						<div class="section-header">
							<span class="section-title">Overall Sentiment</span>
						</div>
						{% if result.overall_sentiment|stringformat:"s" == "positive"  %}
							<span class="sentiment-positive font-bold">Positive</span>
						{% else %}
						{% if result.overall_sentiment|stringformat:"s" == "negative"  %}
							<span class="sentiment-negative font-bold">Negative</span>
						{% else %}
							<span class="font-bold">Neither</span>
						{% endif %}
						{% endif %}
					</div>

					<!-- SECTION 2: Processed, color-coded text -->
					{% if result.words|length > 0 %}
					<div class="section words" >
						<div class="section-header">
							<span class="section-title">Processed Text</span>
						</div>
						{% for word in result.words %}
							{% if word.sentiment|stringformat:"s" == "positive"  %}
								<span class="sentiment-positive font-bold">{{ word.value }}</span>
							{% else %}
							{% if word.sentiment|stringformat:"s" == "negative"  %}
								<span class="sentiment-negative font-bold">{{ word.value }}</span>
							{% else %}
								<span class="muted">{{ word.value }}</span>
							{% endif %}
							{% endif %}
						{% endfor %}
					</div>
					{% endif %}

					<!-- SECTION 3: Statistics -->
					<div class="section">
						<div class="section-header" style="margin-bottom: 3px;">
							<span class="section-title">Stats</span>
						</div>

						<div class="section positive-words">
							<div class="subsection-header">
								<span class="section-title">Positive Words ({{ result.sentimental_words.count.positive }})</span>
							</div>
							{% for word in result.sentimental_words.positive %}
								<div class="muted"><span class="color-light-green">{{ word.value }}</span> (<span>{{ word.count }}</span>)</div>
							{% endfor %}
						</div>

						<!-- SECTION 4: Negative Word Counts -->
						<div class="section negative-words">
							<div class="subsection-header">
								<span class="section-title">Negative Words ({{ result.sentimental_words.count.negative }})</span>
							</div>
							{% for word in result.sentimental_words.negative %}
								<div class="muted"><span class="color-light-red">{{ word.value }}</span> (<span>{{ word.count }}</span>)</div>
							{% endfor %}
						</div>
					</div>

				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}