{% extends "base.html" %}

{% block title %}Word{% endblock %}

{% block navbar_word %}<li class="active"><a href="/word">Word</a></li>{% endblock %}

{% block main-title %}
	Word Analysis
{% endblock %}

{% block main-content %}
	<div class="row">
		<div class="span6 text-center">
			<form action="" method="get">
				<textarea class="textarea-full" rows="20"></textarea>
			</form>
			<input type="submit" value="Go" class="btn btn-success btn-large" />
		</div>
		<div class="span6">
			
		</div>
		</div>
	</div>
{% endblock %}